src/Ejercicio2/correo.dtd

<!ELEMENT correo (mensaje)*>
        <!ELEMENT mensaje (remitente,destinatario,asunto,texto)*>
        <!ELEMENT remitente (nombre|email)*>
        <!ELEMENT nombre (#PCDATA)>
        <!ELEMENT email (#PCDATA)>
        <!ELEMENT destinatario (nombre|email)*>
        <!ELEMENT asunto (#PCDATA)>
        <!ELEMENT texto (parrafo)*>
        <!ELEMENT parrafo (#PCDATA)>